<div>
  <!-- <app-header></app-header>
  <app-personas></app-personas> -->
  <ng-sidebar-container>
    <!-- sidebar -->
    <ng-sidebar [opened]="opened" [mode]="'push'">
      <!-- <p>Sidebar Contets</p> -->
        <!-- <button class="waves-effect waves-circle waves-purple white btn-floating secondary-content menu_btn" (click)="toogleSidebar()">
          <svg class="w-6 h-6 text-gray-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
        </button> -->
        <ul  class="menu ">
          <li>
            <div class="user-view mb-8">
              <div class="bg-cover bg-center image_back_profile">
                <!-- <img src="https://images.unsplash.com/photo-1603060196485-63cadf81a02a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80"> -->
              </div>
              <div class="bg-contain bg-center circle photoUser"></div>
        
            </div>
        </li>
        <li><a class="waves-effect" routerLink="/" (click)="toogleSidebar()">Home</a> </li>
        <li><a class="waves-effect" routerLink="/profile" (click)="toogleSidebar()">Perfil</a> </li>
        <li><a class="waves-effect" routerLink="/operations" (click)="toogleSidebar()">Operaciones</a> </li>

        </ul>
    </ng-sidebar>
    
    <div ng-sidebar-content>
      <!-- Page Header -->
      <app-header
      [sidebar]="opened"
      
      (cerrarNav)="opened=$event"
      ></app-header>
      <!-- <button class="btn" (click)="toogleSidebar()">
        Open Sidebar
      </button> -->
      <!-- Page body -->
      <router-outlet></router-outlet>
    </div>

  </ng-sidebar-container>
</div>