<div>
  <!-- <app-header></app-header>
  <app-personas></app-personas> -->
  <ng-sidebar-container>
    <!-- sidebar -->
    <ng-sidebar [opened]="opened">
      <p>Sidebar Contets</p>
        <button class="btn" (click)="toogleSidebar()">
          Close sidebar
        </button>
        <ul class="menu">
          <li><a routerLink="/">Home</a> </li>
          <li><a routerLink="/profile">Perfil</a> </li>
          <li><a routerLink="/operations">Operaciones</a> </li>

        </ul>
    </ng-sidebar>
    
    <div ng-sidebar-content>
      <!-- Page Contents -->

      <button class="btn" (click)="toogleSidebar()">
        Open Sidebar
      </button>
    </div>

  </ng-sidebar-container>
</div>