ng-sidebar-container{
height: 100vh;
}

::ng-deep .ng-sidebar{
    // background-color: #f4f4f4;
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 300px;
    padding: 2em 0;
    padding-top: 0;
    margin-top: 0;
    box-shadow: 0 0 2.5em rgba(85,85,85,0.5);
}

.menu{
    // margin-top: 2em;
    display: block;

    li{
        margin-bottom: 15px;
        a{
            display: block;
            padding: 1rem;
            width: 100%;
            color: #ff9800;
        }
    }
}


.user-view{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.image_back_profile{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS1YcnkYtWIouLoHaTZvfdPSnfXtGTgmXbVKA&usqp=CAU");
    height: 200px;
    width: 100%;
    overflow: hidden;
    position: relative;
    opacity: 0.8;
}
.photoUser{
    background-image: url("https://randomuser.me/api/portraits/women/65.jpg");
    height: 80px;
    width: 80px;
    position:absolute;
    top: 40px;
    // margin: 0 auto;
  left : 13px;
  border: 3px solid white;
  z-index: 1;
}
