/* You can add global styles to this file, and also import other style files */
@import "./app/normalize.scss";

body{
    background-color: #f7f8fa;
    font-family: 'Montserrat', sans-serif;

}
h1,h2,h3,h4,h5,h6{
    font-family: 'Fira Sans', sans-serif !important;
    
}
h1{
    // font-family: 'Fira Sans', sans-serif;
    font-size: 36px;
    font-weight: 700;
}
p{
    font-family: 'Montserrat', sans-serif;
}

.menu_btn{
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    // background-color: white !important;
    :active{
        color:white
    }
    :focus{
        color:white
    }
}
