/* You can add global styles to this file, and also import other style files */
@import "./app/normalize.scss";

body{
    background-color: #f7f8fa;
}

h1{
    font-family: 'Fira Sans', sans-serif;
    font-size: 36px;
    font-weight: 700;
}
p{
    font-family: 'Montserrat', sans-serif;
}

